.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 20rem;
  justify-content: space-around;
  gap: 0.5rem;
}
.project_link{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.btn-link{
  border-radius: 40px;
  padding: 15px 20px;
  color:  white;
  font-weight: 800;
  border: 3px solid rgb(117,78,249);
  background-color: rgb(117,78,249);
}
.btn-link:hover{
  color: rgb(230, 9, 9);
  border: 3px solid red;
}
